
.btn {
    font-size: 18px;
    font-weight: 500;
    padding: 12px 25px;
    color: white;
    background-color: #ffc801;
    border-radius: 12px;
    margin: 10px 0 0 0;
    outline: none;
    border: none;
    cursor: pointer;
}